/*! REGOLE GENERALI */

/* Reset pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e6e6e6;
}

/*! HEADER */
#header-pagina {
    height: 74px;
    line-height: 74px;
    background-color: white;
    margin-bottom: 50px;
    padding-left: 20px;
}

#logo {
    vertical-align: middle;
    margin-right: 5px;
}

#testo-logo {
    vertical-align: middle;
    font-size: 28px;
    font-weight: bold;
}

/*! CONTENITORE BUTTON E TASK*/
.contenitore {
    max-width: 900px;
    margin: 0 auto;
}

/* Contenitore button */
#contenitore-button {
    padding: 18px 50px 8px;  
    background-color: white;
    height: 60px;
    margin-bottom: 3px;
}

/*  Contenitore task 
#contenitore-task {
    background-color: blue;
} */
 
/*! BUTTON */

button {
    font-size: 13px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 3px;
}

/* Button-task */
#button-task {
    color: white;
    background-color: rgb(14, 142, 222);
    border-color: rgb(14, 142, 222);
}

#button-section {
    color: grey;
    background-color: white;
    border-color: grey;

}

